vgcore.*
massif.*
/bin/SamRewritten
/bin/samrewritten
build/
/glade/*.glade~
/glade/*.glade#
package/AppDir/
package/pkg/
package/src/
package/SamRewritten/
package/SamRewritten*.AppImage
package/samrewritten*.tar.*
obj/
